.main{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.list{
    list-style: none;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;

}

.me{
    background-color: rgba(73, 45, 73, 0.479);
    
}

.you{
    background-color: aqua;
}

.button{
    border-radius: 10px;
    background-color: beige;
    margin-left: 5px;
   /* transition: transform 2s ease-in-out 1s;*/
   animation: moveDown 2s;
  
}
.button:hover{
    background-color: green;
   /* transform: scale(1.5);*/
}

@keyframes moveDown {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}